/* CSS untuk mobile */
/* Beranda */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  *,
html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', cursive;
}
body {
  background-color: var(--bg-primary);
  overflow-x: hidden;
  font-family: 'Poppins', cursive;

}
/* :root {
    --bg-primary: #ffffff;
    --bg-secondary: #ffffff;
    --text-primary: #ffffff;
    --text-secondary: #222222;
    --icons-bg-primary: #ffffff;
    --icons-bg-secondary: #222;
} */

.background{
  width: 100%;
  height: 100vh;
  background-image: url("ijo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
    display: block;
    width: 100%;
    height: auto;
    background-color: var(--bg-primary);
}
.wrapp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
   
}

.grid-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-self: start;
}

.card{
    padding: 1em;
    border: 1px solid white;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    margin: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0,5);
}
.text-center {
    text-align: center;
}
.title{
    font-size: 1.5em;
}
.icons{
    margin-top: 8px;
    font-size: 24px;
    color: var(--icons-bg-primary);
}
.description{
    margin-top: 8px;
    font-size: .5em;
}
.btn {
    margin-top: 16px;
    padding: 8px;
    cursor: pointer;
    border: none;
    width: 100%;
}
.btn:hover {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    transition: .3s ease-in-out;
}
.container2 {
    display: none;
}
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    position: sticky;
    top: 0;
    width: 100vw;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #fff;
    color: #3DB18E;
    padding: 10px 20px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
  }

  .logo-navbar {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
    color: #3DB18E;

  }
  
  .nav-links a {
    text-decoration: none;
    color: #3DB18E;
  }
  
  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px;
  }
  .circular-image {
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    border-radius: 50%;
    overflow: hidden;
    margin: 10px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  
  .logo {
    margin-right: 20px;
  }
  
  .logo img {
    max-width: 100px; /* Adjust the size as needed */
    height: auto;
  }
  
  .custom-search {
    border-radius: 5px;
    background-color: white;
    display: inline-block;
    padding: .3em;
    border: 1px solid black;
}

  .search {
    background-color: transparent;
    border: none;
    outline: none;
    width: 20vw;
  }

.card-container {
    display: flex;
    justify-content: center;
    height: 15vh;
}

.card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    /* text-align: center; */
    max-width: 300px;
}

.topik-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.card h2 {
    display: flex;
    padding: 10px 20px;
    margin: 20px;
    font-size: 24px;
    color: #333;
}

.card p {
    font-size: 16px;
    color: #666;
}
.geser {
  border: 50px;
}
.buled {
  border-radius: 20px;
}

.buled-card {
  border-radius: 8px;
  
}

.hidden {
  display: none !important;
}

@media (max-width: 500px) {
  .grid-cards {
      grid-template-columns: 1fr 1fr 1fr; /* Change to 3 columns on smaller screens */
  }
}

@media (max-width: 992px) {
  .grid-cards {
      grid-template-columns: 1fr 1fr; /* Change to 2 columns on even smaller screens */
  }
}

  
  @media screen and (max-width: 330px) {
    .grid-cards {
      grid-template-columns: 1fr; 
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    width: 100%;
    top: 70px;
    left: 0;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
    max-height: 0;
  }
  
    .nav-links.active {
      max-height: 300px;
    }
  
    .nav-links li {
      margin: 0;
      text-align: center;
      padding: 10px 0;
    }
  
    .burger {
      display: flex;
    }
  }