.content-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.desc {
    color: #939393;
    font-size: 1rem;
}


.request-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    top: 0;
}

.request-hidden {
    right: -500px;

}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.desc {
    color: #939393;
    font-size: 1rem;
}

.main-container {
    margin: 0 1em;
    margin-top: 2em;
    height: 85vh;
}

.container-request {
    text-align: center;
}

.card-request {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(121, 106, 106, 0.1);
    border-radius: 5px;
    padding: 20px;
    width: 420px;
    height: 400px;

}



.main-container {
    margin: 0 1em;
    margin-top: 2em;
    height: 85vh;
}


.chat-box-container {
    position: relative;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 2vh 8vw 2vh 8vw;
    max-height: 35em;
    overflow: auto;
    min-height: 100%;
}

.type {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8);

}

.send {
    margin-left: 1em;
}

.type textarea {
    width: 50%;
    border-radius: 10px;
}

.actions {
    display: flex;
    flex-direction: column;
}

.btn-spacer {
    margin: .8em 0;
}


.user-info,
.my-user-info {
    display: flex;
}

.my-user-info {
    flex-direction: row-reverse;
}

.user-info p,
.my-user-info p {
    margin: 0 .5em;
    font-size: 1.1rem;
}

.message,
.my-message {
    margin-top: 1em;
    background-color: #D6D6D6;
    /* max-width: 25em; */
    min-width: 3em;
    padding: 10px 12px;
    word-wrap: break-word;
    display: inline-block;
    font-size: .9rem;
    text-align: center;

}

.message {
    margin-left: 1.5em;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 30px;
}

.my-message {
    background-color: #3DB18E;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 20px;
    word-wrap: break-word;
    display: inline-block;
    margin-right: 1.5em;

}

.chat,
.my-chat {
    margin-top: 3em;
}

.my-chat-container {
    display: flex;
    flex-direction: row-reverse;
}

.my-chat {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 3em;
}



@media (min-width: 945px) {
    .content-container {
        justify-content: space-between;
    }

    .actions {
        flex-direction: row;
    }

    .btn-spacer {
        margin: 0 .5em;
    }

    .main-container {
        margin: 0 10em;
        margin-top: 2em;


    }
}

@media (min-width: 1502px) {
    .main-container {
        margin: 0 16em;
        margin-top: 2em;
    }

    .btn-spacer {
        margin: 0 .5em;
    }
}