/* CSS untuk mobile */
/* Register */
body{
    /* font-feature-settings: "smcp", "zero"; */
    font-family: system-ui;
    background-color:#ffffff;
}
.buled {
    border-radius: 20px;
}
.fonts {
    font-family: 'Poppins', cursive;
    /* font-family:  'SemiBold';
    font-family: 'Roboto', sans-serif; */
}

/* Disini CSS untuk layar yang lebar (laptop, tablet, komputer) */
@media (min-width: 569px) {

}
