.login-count {
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
    left: 0%;
    /* right: 10px; */
    bottom: 0px;
    background-color: rgb(255, 255, 255);
    background: transparent;
    color: white;
    border-radius: 100%;
    /* padding: 2px; */
    font-size: 10px;
  }
  
  .login-group {
    position: relative;
  }