.notification-count {
  margin: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 10px;
  /* right: 10px; */
  bottom: 10px;
  background-color: red;
  color: white;
  border-radius: 100%;
  padding: 2px 6px;
  font-size: 10px;
}
.kanan-notif {
position: relative;
left: 150px;
}

.notification-group {
  position: relative;
}
.notification {
  position: absolute;
  right: 0;
  background-color: #ffffff;
  color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  max-width: 20%;
  width: 200px;
}

.close-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.element{
  margin-top: 0px;
  /* padding-left: 20px; */
  position: relative;
}