.sidebar-container {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: auto;


}

.sidebar {
    transition: all 0.3s;
    width: 270px;
    position: absolute;
    background: rgb(255, 255, 255);
    color: #3DB18E(0, 0, 0);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    max-height: 500em;
    z-index: 2;
    right: 0;

}

.sidebar-hidden {
    right: -500px;
}

.sidebar a {
    color: rgb(5, 4, 4);
    text-decoration: none;
    display: block;
    padding: 20px 10px;
}

.sidebar a:hover {
    background: rgb(237, 237, 238);
}

.active {
    background: rgb(247, 247, 249);
    border-right: solid 6px beige;

}

.card-data {
    border: solid 1px;
    padding: 20px 50px;
    color: aliceblue;
}

.card-data.user {
    background-color: rgb(247, 247, 248);
}

.card-data.kategori {
    background-color: rgb(247, 248, 249);
}

.card-data.book {
    background-color: rgb(251, 251, 251);
}

.card-data i {
    font-size: 80px;
}

.card-desc {
    font-size: 30px;
}

.card-count {
    font-size: 20px;
}

.kanan1 {
    position: relative;
    left: 210px;
}