*,
html,
body{
    margin: 0;
    padding: 0;
    /* font-family: 'Silkscreen', cursive; */
    font-family: 'Poppins', cursive;

}
:root {
    --bg-primary: rgb(255, 255, 255);
    --bg-secondary: #ffffff;
    --text-primary: #ffffff;
    --text-secondary: #222222;
    --icons-bg-primary: #ffffff;
    --icons-bg-secondary: #222;
}
.container {
    display: block;
    width: 100%;
    height: auto;
    min-height: 100vh; 
    background-color: var(--bg-primary);
}
.wrapp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.card{
    width: 40%;
    border: 1px solid white;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    padding: 32px;
    margin: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0,5);
}
.text-center {
    text-align: center;
}
.title{
    font-size: 2em;
}
.icons{
    margin-top: 8px;
    font-size: 24px;
    color: var(--icons-bg-primary);
}
.description{
    margin-top: 8px;
    font-size: .5em;
}
.btn {
    margin-top: 16px;
    padding: 8px;
    cursor: pointer;
    border: none;
    width: 100%;
}
.btn:hover {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    transition: .3s ease-in-out;
}
.container2 {
    display: none;
}
@media screen and(max-width: 476px) and (max-width: 1300px) {
    .container {
        background-color: #fff;
    }
    .card {
        width: 95%;    
    }
    .title {
        font-size: 3em;        
    }
    .icons {
        font-size: 2em;
    }
    .description {
        font-size: 1.5em;
    }
    .btn {
        padding: 16px;
        font-size: 1.5em;
    }
    
}
@media screen and (min-width: 1200px) {
    .container {
        display: none;
    }
    .container2 {
        display: block;
    }
    
}