* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', cursive;

}

.icon-container {
  position: fixed;
  bottom: 20px;
  /* left: 20px; */
  right: 20px;
}

.add-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #292b2d;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.add-icon:hover {
  background-color: #0056b3;
}
