/* CSS untuk mobile */
/* Beranda */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', cursive;

}

.navbar {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #fff;
  color: #3DB18E;
  padding: 10px 20px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
  color: #3DB18E;

}

.nav-links a {
  text-decoration: none;
  color: #3DB18E;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px;
}
.circular-image {
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  border-radius: 50%;
  overflow: hidden;
  margin: 10px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.circular-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.logo {
  margin-right: 20px;
}

.logo img {
  max-width: 100px; /* Adjust the size as needed */
  height: auto;
}

.search-box {
  padding: 20px 50%;
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 20vh;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 10px;
  /* text-align: center; */
  max-width: 300px;
}

.card h2 {
  display: flex;
  padding: 10px 20px;
  margin: 20px;
  font-size: 24px;
  color: #333;
}

.card p {
  font-size: 16px;
  color: #666;
}
.geser {
border: 50px;
}
.buled {
border-radius: 20px;
}


@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    width: 100%;
    top: 70px;
    left: 0;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
    max-height: 0;
  }

  .nav-links.active {
    max-height: 300px;
  }

  .nav-links li {
    margin: 0;
    text-align: center;
    padding: 10px 0;
  }

  .burger {
    display: flex;
  }
}


/* Disini CSS untuk layar yang lebar (laptop, tablet, komputer) */
@media (min-width: 569px) { 


} 
