/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); */

body{
    font-family: 'Poppins', cursive;

}
:root {
    --bg-primary: #f4f5ff;
    --bg-secondary: #ffffff;
    --bg-active: #fff;
    --cl-text: #f6f4e6;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins"; */
    font-family: 'Poppins', cursive;

}

body {
    min-height: 100vh;
    background: var(--bg-primary);
    font-family: 'Poppins', cursive;
    
}
nav{
    position: fixed;
    width: 60px;
    height: 100%;
    background: var(--bg-secondary);
    transition: .5s;
    box-shadow: 0 .5rem 1.5rem rgba(252, 251, 251, 0.1);
    overflow: hidden;
}
nav.active{
    width: 300px;
}
nav.ul{
    position: absolute;
    top: 0;
    /* left: 0; */
    right: 20px;
    width: 100%;
}
nav ul li {
    list-style: none;
    width: 100%;
    position: relative;
}
nav ul li a:hover {
    color: var(--bg-secondary);
}
nav ul li:hover a::after{
    background-color: var(--bg-active);
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
nav ul li a{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
    color: var(--cl-text);
    transition: .2s;
}
nav ul li a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: .2s;
}
nav ul li a.icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;

}
nav ul li a.icon *{
    font-size: 1.1rem;
}
nav ul li a.title{
    position: relative;
    font-size: .85rem;
}
nav ul li a .toggle{
    border-bottom: 3px solid var(--bg-primary);
}
.toggle{
    cursor: pointer;
}