* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', cursive;

}

body {
  /* font-family: Arial, sans-serif; */
  font-family: 'Poppins', cursive;

}

.navbar {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #ffffff;
  color: #3DB18E;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    width: 100%;
    top: 70px;
    left: 0;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
    max-height: 0;
  }

  .nav-links.active {
    max-height: 300px;
  }

  .nav-links li {
    margin: 0;
    text-align: center;
    padding: 10px 0;
  }

  .burger {
    display: flex;
  }
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  text-align: center;
  max-width: 500px;
}

.card h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.card p {
  font-size: 16px;
  color: #666;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 10px;
  text-align: center;
  max-width: 500px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
  margin: 10px 0;
  font-size: 24px;
  color: #333;
}

.card p {
  font-size: 16px;
  color: #666;
}
.left-align {
text-align: left;
}

.kolom {
display: flex;
flex-direction: column;
}